* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    padding-top: 15px;
    padding-bottom: 100px;
}

.main {
    
   
}

.field {
    
    border: solid;
    /* свойства для снятия выделения */
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */
    -moz-user-select: none;
    /* поэтому нужны префиксы */
    -ms-user-select: none;
    /* свойства для снятия выделения */
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
    margin: auto;

}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 20px;

}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
   
}

button {
    padding: 10px;
    display: block;
    text-align: center;
    font-weight: 550;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}

button:hover{
    scale: 1.2;
    background-color: hsl(0, 100%, 70%); ;
}

input[type='color'] {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50px;

}

input[type="color"]:hover {
    transform: scale(1.2);
}
.colorChoose {
    cursor: default;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.colorChoose>p{
font-size: 22px;
font-weight: 525;
}
.slidecontainer{
    text-align: center;
    margin: 10px;
    width: 100%;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 200px;
    height:10px; /* Specified height */
    background: #c03939; /* Grey background */
    outline: none; /* Remove outline */
    
    -webkit-transition: .2s; 
    
    border-radius: 20px;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 0.9; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb:hover{
    background: rgb(41, 11, 97); 
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 25px;
    background: rgb(10, 95, 134); 
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(10, 95, 134); 
    cursor: pointer; /* Cursor on hover */
}
.slide-text{
    text-align: center;
    font-size: 18px;
}