body{
    display: flex;
    justify-content: space-around;}
.field{border:solid;
    /* свойства для снятия выделения */
    -webkit-user-select: none;
     /* user-select -- это нестандартное свойство */
    -moz-user-select: none;
        /* поэтому нужны префиксы */
    -ms-user-select: none;
    /* свойства для снятия выделения */  
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(22, 1fr); 
    grid-template-rows: repeat(22, 1fr);
}
.menu{
    width: 300px;
    height: 500px;
    
}
